* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: hsl(0, 0%, 94%);
  font-family: 'Poppins', sans-serif;
  color: hsl(0, 0%, 8%);
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
